@import "tailwindcss";
@import "./_titles.css";
@import "./_components.css";

:root {
  --card: oklch(1 0 0);
  --error: #e7000b;
  --primary: rgb(0, 105, 123);
  --success: #007d1f;
  --gray-border: #bfbfbf;
  --notify: #2e97ff;
  --warning: #e5ff00;
  --bg: #f0f0f0;
  --border: oklch(0.922 0 0);
  --gray: #4a5565;
}

@theme inline {
  --color-card: var(--card);
  --color-bg: var(--bg);
  --color-error: var(--error);
  --color-pri: var(--primary);
  --color-success: var(--success);
  --color-notify: var(--notify);
  --color-warning: var(--warning);
  --color-border: var(--border);
  --color-gray: var(--gray);
  --color-gray-b: var(--gray-border);

  --font-dosis: var(--font-dosis);
  --font-manrope: var(--font-manrope);
}
